@model RecAgency.Entities.Vacancy

@{
    ViewBag.Title = "Edit vacancy # " + @Model.Id;
}

<h2>Edit vacancy # @Model.Id</h2>

@using (Html.BeginForm("EditVacancy", "Meneger"))
{
            @Html.EditorForModel()
            <input type="submit" value="Save" />
            @Html.ActionLink("Cancel", "Index")
}